.container {
  border: 2px solid black;
  background-color: bisque;
  display: flex;
  width: 100px;
  height: 100px;
  margin: 10px 0px;
  justify-content: center;
}
.linha {
  flex-direction: row;
}
.coluna {
  flex-direction: column;
}

.item {
  margin: 2px;
  height: 20px;
  width: 20px;
  background-color: tomato;
}
